<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Suppliers</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
  <div>
    <h1>Manage Suppliers</h1>
  </div>
  <div class="mr-4">
    <a class="h5" th:href="@{suppliers/new}">Add new supplier</a>
  </div>
  <div>
    <div th:if="${message}" class="alert alert-success text-center">
      [[${message}]]
    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Addres</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="listSuppliers : ${listSuppliers}">
          <tr>
            <td>[[${listSuppliers.id}]]</td>
            <td>[[${listSuppliers.name}]]</td>
            <td>[[${listSuppliers.phone}]]</td>
            <td>[[${listSuppliers.address}]]</td>
            <td>[[${listSuppliers.status}]]</td>
            <td>
              <button class="h6 mr-3 btn btn-outline-info m-2" th:onclick="|window.location.href='/suppliers/edit/'+${listSuppliers.id}|">Edit</button>
              <button class="h6 mr-3 btn btn-outline-danger m-2" th:onclick="|window.location.href='/suppliers/delete/'+${listSuppliers.id}|">Delete</button>
            </td>
          </tr>
        </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>